<div class="panel panel-default tc_detailsTab">
  <div class="panel-heading">
    <h3 class="panel-title tc_panelTitle">Details of {{ $ctrl.selection.item.targetId }}</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Target IQN:</dt>
      <dd>
        {{ $ctrl.selection.item.targetId }}
        <span ng-if="$ctrl.selection.item.targetSettings">
          <br>
          <span ng-repeat="setting in $ctrl.selection.item.cephIscsiTargetAdvangedSettings">
            <span ng-if="$ctrl.selection.item.targetSettings.hasOwnProperty(setting.property)"
                  class="nowrap margin-right-md">
              <label>&#10551; {{ setting.property }}</label>: {{ $ctrl.selection.item.targetSettings[setting.property] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Portals:</dt>
      <dd ng-repeat="portal in $ctrl.selection.item.portals">
        {{ portal.hostname }}: {{ portal.interface }}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Images:</dt>
      <dd ng-repeat="image in $ctrl.selection.item.images">
        {{ image.pool }}: {{ image.name }}
        <span class="text-muted">(lun: {{ (image.settings.lun || 0) }})</span>
        <span ng-if="image.settings">
          <br>
          <span ng-repeat="setting in $ctrl.selection.item.allIscsiImageSettings">
            <span ng-if="image.settings.hasOwnProperty(setting.property)"
                  class="nowrap margin-right-md">
              <label>&#10551; {{ setting.property }}</label>: {{ image.settings[setting.property] }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Authentication:</dt>
      <dd ng-if="!$ctrl.selection.item.authentication.hasAuthentication"
          class="tc_noAuthentication">No authentication</dd>
      <dd ng-if="$ctrl.selection.item.authentication.hasAuthentication">{{ $ctrl.selection.item.authentication.user }}</dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasAuthentication && $ctrl.selection.item.authentication.initiators.length > 0">
      <dt>Initiators:</dt>
      <dd ng-repeat="initiator in $ctrl.selection.item.authentication.initiators">
        {{ initiator }}
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasMutualAuthentication">
      <dt>Mutual auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.mutualUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledMutualAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasDiscoveryAuthentication">
      <dt>Discovery auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.discoveryUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledDiscoveryAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
    <dl class="dl-horizontal"
        ng-if="$ctrl.selection.item.authentication.hasDiscoveryMutualAuthentication">
      <dt>Discovery mutual auth:</dt>
      <dd>{{ $ctrl.selection.item.authentication.discoveryMutualUser }}
        <span class="text-muted">
          ({{ $ctrl.selection.item.authentication.enabledDiscoveryMutualAuthentication ? 'Enabled' : 'Disabled' }})
        </span>
      </dd>
    </dl>
  </div>
</div>
