<div class="flex-container flex-column">
  <div class="flex-item bg-info"
       ng-if="$ctrl.messages.unknown">
    <i class="fa fa-question-circle fa-2x"></i>
    <strong ng-bind="$ctrl.messages.unknown"></strong>
    <br>
    <ng-pluralize count="$ctrl.data.unknown.length"
                  when="{'1': ' The following error state is not supported by the widget yet:',
                         'other': ' The following error states are not supported by the widget yet:'
                  }">
    </ng-pluralize>
    <ul class="list-nomargin">
      <li ng-repeat="cluster in $ctrl.data.unknown"
          ng-bind="cluster.health"></li>
    </ul>
  </div>

  <div class="flex-item clickable"
       ng-if="$ctrl.messages.warn || $ctrl.messages.err"
       ng-click="$ctrl.summaryCollapsed = !$ctrl.summaryCollapsed"
       ng-class="{'bg-danger': $ctrl.messages.err, 'bg-warning': $ctrl.messages.warn}">
    <i class="fa fa-2x"
       ng-class="{'fa-bomb': $ctrl.messages.err, 'fa-warning': $ctrl.messages.warn}"></i>
    <strong class="clickable"
            ng-bind="$ctrl.messages.err || $ctrl.messages.warn"></strong>
    <div class="pull-right">
      <i class="fa fa-caret-down"
         ng-if="$ctrl.summaryCollapsed"></i>
      <i class="fa fa-caret-up"
         ng-if="!$ctrl.summaryCollapsed"></i>
    </div>
    <div class="indent ceph-summary"
         ng-if="!$ctrl.summaryCollapsed"
         ng-repeat="cluster in $ctrl.data.warn.concat($ctrl.data.err)">
      <p class="">On cluster "
        <span ng-bind="cluster.name"></span>" with fsid "
        <span ng-bind="cluster.fsid"></span>"</p>
      <div ng-if="cluster.summary.err.length"
           class="alert alert-danger">
        <ul class="fa-ul ceph-health-error-listing">
          <li ng-repeat="err in cluster.summary.err">
            <i class="fa-li fa fa-bomb"></i>{{err.summary.message}}
          </li>
        </ul>
      </div>
      <div ng-if="cluster.summary.warn.length"
           class="alert alert-warning non-clickable"
           ng-click="$event.stopPropagation()">
        <ul class="fa-ul ceph-health-warning-listing">
          <li ng-repeat="warn in cluster.summary.warn">
            <i class="fa-li fa fa-warning"></i>{{warn.summary.message}}
            <a ng-click="warn.expand=!warn.expand"
               ng-if="warn.detail.length > 0">({{warn.expand ? "hide" : "show" }} details)</a>
            <ul ng-if="warn.detail.length > 0"
                ng-show="warn.expand">
              <li ng-repeat="detail in warn.detail">{{detail.message}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<grafana></grafana>
