<div class="col-sm-12 col-lg-6">
  <form name="userForm"
        role="form"
        class="form-horizontal"
        novalidate
        oa-check-form>
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 ng-hide="editing"
            class="panel-title tc_userAddTitle">Create User: {{user.username}}</h3>
        <h3 ng-show="editing"
            class="panel-title tc_userEditTitle">Edit User: {{user.username}}</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <div class="form-group"
               ng-class="{'has-error': (userForm.$submitted || userForm.username.$dirty) && userForm.username.$invalid}">
            <label class="col-sm-3 control-label"
                   for="userUsername">Username</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-user"></i>
                </span>
                <input class="form-control"
                       type="text"
                       placeholder="Username..."
                       ng-model="user.username"
                       name="username"
                       id="userUsername"
                       required
                       validname
                       uniquename="user">
              </div>
              <span class="help-block tc_usernameRequired"
                    ng-show="(userForm.$submitted || userForm.username.$dirty) &&
                                        userForm.username.$error.required">
                The username is required.
              </span>
              <span class="help-block tc_userNameNotValid"
                    ng-show="(userForm.$submitted || userForm.username.$dirty) &&
                                        userForm.username.$error.validname">
                {{errortext}}
              </span>
              <span class="help-block tc_noUniqueName"
                    ng-show="(userForm.$submitted || userForm.username.$dirty) &&
                                        userForm.username.$error.uniquename">
                The chosen user name is already in use.
              </span>
            </div>
          </div>

          <div class="form-group"
               ng-class="{'has-error': (userForm.$submitted || userForm.password.$dirty) && userForm.password.$invalid}">
            <label class="col-sm-3 control-label"
                   for="userPassword">Password</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-key"></i>
                </span>
                <input class="form-control"
                       type="password"
                       placeholder="Password..."
                       ng-model="user.password"
                       name="password"
                       id="userPassword"
                       ng-required="!editing"
                       ng-minlength="6">
                <span class="input-group-btn">
                  <button type="button"
                          class="btn btn-default tc_showPassword"
                          oa-password-button="userPassword">
                  </button>
                  <button type="button"
                          class="btn btn-default tc_copyPasswordToClipboard"
                          uib-tooltip="Copy to clipboard"
                          oa-clipboard
                          oa-clipboard-target="userPassword"
                          oa-clipboard-text="password">
                    <i class="icon-prepend fa fa-clipboard"></i>
                  </button>
                </span>
              </div>
              <span class="help-block tc_passwdMinlength"
                    ng-show="(userForm.$submitted || userForm.password.$dirty) && userForm.password.$error.minlength">
                The password must be of minimum length 6 characters.
              </span>
              <span class="help-block tc_passwdRequired"
                    ng-show="(userForm.$submitted || userForm.password.$dirty) && userForm.password.$error.required">
                A password is required.
              </span>
            </div>
          </div>

          <div class="form-group"
               ng-class="{'has-error': (userForm.$submitted || userForm.confirmPassword.$dirty) && userForm.confirmPassword.$invalid}">
            <label class="col-sm-3 control-label"
                   for="userConfirmPassword">Confirm password</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-key"></i>
                </span>
                <input class="form-control"
                       type="password"
                       placeholder="Password..."
                       id="userConfirmPassword"
                       name="confirmPassword"
                       ng-model="user.confirmPassword"
                       equal-validator="user.password"
                       ng-required="!editing"
                       ng-minlength="6">
                <span class="input-group-btn">
                  <button type="button"
                          class="btn btn-default"
                          oa-password-button="userConfirmPassword">
                  </button>
                </span>
              </div>
              <span class="help-block tc_confirmPasswdRequired"
                    ng-show="(userForm.$submitted || userForm.confirmPassword.$dirty) &&
                                    userForm.confirmPassword.$error.required">
                The password confirmation is required.
              </span>
              <span class="help-block tc_confirmPasswdMinlength"
                    ng-show="(userForm.$submitted || userForm.confirmPassword.$dirty) &&
                                    userForm.confirmPassword.$error.minlength">
                The password must be of minimum length 6 characters.
              </span>
              <span class="help-block tc_passwdEqual"
                    ng-show="(userForm.$submitted || userForm.confirmPassword.$dirty) &&
                                    userForm.confirmPassword.$error.equalValidator && !userForm.confirmPassword.$error.minlength">
                The passwords are not equal.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="userFirstname">Firstname</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-user"></i>
                </span>
                <input class="form-control"
                       type="text"
                       placeholder="Firstname..."
                       ng-model="user.first_name"
                       name="firstname"
                       id="userFirstname">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"
                   for="userLastname">Lastname</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-user"></i>
                </span>
                <input class="form-control"
                       type="text"
                       placeholder="Lastname..."
                       ng-model="user.last_name"
                       name="last"
                       id="userLastname">
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-class="{'has-error': (userForm.$submitted || userForm.email.$dirty) && userForm.email.$invalid}">
            <label class="col-sm-3 control-label"
                   for="userEmail">Email Address</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-envelope-o"></i>
                </span>
                <input class="form-control"
                       type="email"
                       placeholder="Email Address..."
                       ng-model="user.email"
                       name="email"
                       id="userEmail">
              </div>
              <span class="help-block tc_emailNotValid"
                    ng-show="(userForm.$submitted ||userForm.email.$dirty) && userForm.email.$error.email">
                It's not a valid email address.
              </span>
            </div>
          </div>
          <div class="form-group"
               ng-if="isCurrentUser">
            <label class="col-sm-3 control-label"
                   for="userAuthToken">API authentication token</label>
            <div class="col-sm-9">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-prepend fa fa-user-secret"></i>
                </span>
                <input class="form-control"
                       type="text"
                       ng-model="user.auth_token.token"
                       name="authtoken"
                       id="userAuthToken"
                       readonly>
                <span class="input-group-btn">
                  <button class="btn btn-default tc_generate_btn"
                          type="button"
                          uib-tooltip="Generate"
                          ng-click="generateAuthToken()">
                    <i class="icon-prepend fa fa-refresh"></i>
                  </button>
                  <button class="btn btn-default"
                          type="button"
                          uib-tooltip="Copy to clipboard"
                          oa-clipboard
                          oa-clipboard-target="userAuthToken"
                          oa-clipboard-text="API authentication token">
                    <i class="icon-prepend fa fa-clipboard"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="!isCurrentUser">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox"
                       ng-model="user.is_active"
                       name="active"
                       id="userActive">
                <label for="userActive">
                  Is active
                </label>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="!isCurrentUser">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox"
                       ng-model="user.is_staff"
                       name="staff"
                       id="userStaff">
                <label for="userStaff">
                  Is administrator
                </label>
              </div>
            </div>
          </div>
          <div class="form-group"
               ng-if="!isCurrentUser">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox checkbox-primary">
                <input type="checkbox"
                       ng-model="user.is_superuser"
                       name="superuser"
                       id="userSuperuser">
                <label for="userSuperuser">
                  Has all privileges
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <div class="button-group text-right">
          <oa-submit-button form="userForm"
                            on-submit="submitAction(userForm)">
            Submit
          </oa-submit-button>
          <button type="button"
                  class="btn btn-sm btn-default tc_backButton"
                  ng-click="cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
