<div class="openattic-modal-header">
  <span>Unsaved Changes</span>
</div>
<div class="openattic-modal-content"
     id="modal-body">
  <p>You have unsaved changes that will be lost if you decide to continue.</p>
  <span>Are you sure you want to leave this page?</span>
</div>
<div class="openattic-modal-footer">
  <div class="button-group text-right">
    <button class="btn btn-primary btn-sm oa-check-form-ok tc_leaveButton"
            ng-click="ok()">Leave this page</button>
    <button class="btn btn-link btn-sm oa-check-form-cancel tc_cancelButton"
            ng-click="cancel()">Cancel</button>
  </div>
</div>
