<div class="col-sm-12 col-lg-6">
  <oa-loading-panel message="Form is loading..."
                    ng-show="!$ctrl.clusters"></oa-loading-panel>

  <form name="rbdForm"
        role="form"
        class="form-horizontal"
        novalidate
        oa-check-form
        ng-show="$ctrl.clusters">
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 class="panel-title">Create RBD: {{$ctrl.rbd.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group"
             ng-class="{'has-error': (rbdForm.$submitted || rbdForm.name.$dirty)
            && rbdForm.name.$invalid}">
          <label class="control-label col-sm-3"
                 for="name">Name</label>
          <div class="col-sm-9">
            <input id="name"
                   type="text"
                   class="form-control tc_rbd_name"
                   placeholder="Name..."
                   ng-model="$ctrl.rbd.name"
                   name="name"
                   validname
                   uniquename="rbd"
                   required
                   autofocus>
            <span class="help-block tc_nameRequired"
                  ng-show="(rbdForm.$submitted || rbdForm.name.$dirty)
                && rbdForm.name.$error.required">This field is required!</span>
            <span class="help-block tc_noValidName"
                  ng-show="rbdForm.name.$error.validname">{{errortext}}</span>
            <span class="help-block tc_noUniqueName"
                  ng-show="rbdForm.name.$error.uniquename">
              The chosen RBD name is already in use.
            </span>
          </div>
        </div>

        <div class="form-group"
             ng-if="$ctrl.clusters.length !== 1"
             ng-class="{'has-error': (rbdForm.$submitted || rbdForm.cluster.$dirty) && rbdForm.cluster.$invalid}">
          <label class="control-label col-sm-3"
                 for="cluster">Cluster</label>
          <div class="col-sm-9">
            <select id="cluster"
                    ng-disabled="!$ctrl.clusters"
                    class="form-control tc_cluster_selection"
                    ng-model="$ctrl.data.cluster"
                    ng-options="(cluster.name + ' (' + cluster.fsid + ')')
                for cluster in $ctrl.clusters track by cluster.fsid"
                    name="cluster"
                    required>
              <option class="tc_rbdClusterOption"
                      value=""
                      ng-bind="$ctrl.waitingClusterMsg"></option>
            </select>
            <span class="help-block tc_clusterRequired"
                  ng-show="(rbdForm.$submitted || rbdForm.cluster.$dirty)
                && rbdForm.cluster.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_clusterLoading"
                  ng-show="rbdForm.$error.clusterLoading">
              Couldn't load any cluster, please contact your administrator for details.
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox checkbox-primary"
                 ng-show="$ctrl.pools.replicated.length + $ctrl.pools.erasure.length > 1">
              <input id="use-data-pool"
                     type="checkbox"
                     ng-model="$ctrl.data.useDataPool"
                     ng-name="useDataPool">
              <label for="use-data-pool">Use a dedicated data pool</label>
            </div>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': (rbdForm.$submitted || rbdForm.pool.$dirty)
            && rbdForm.pool.$invalid}">
          <label class="control-label col-sm-3"
                 for="pool">
            <span tooltip-placement="top"
                  uib-tooltip="Main pool where the RBD is located and {{$ctrl.data.useDataPool ? 'the meta-data' :
                'all data'}} is stored">
              {{$ctrl.data.useDataPool ? "Meta-" : ""}}Pool
            </span>
          </label>
          <div class="col-sm-9">
            <select id="pool"
                    ng-disabled="!$ctrl.pools"
                    class="form-control tc_pool_selection"
                    ng-model="$ctrl.data.pool"
                    ng-options="(pool.name + ' (' + pool.oaFreeText + ' free)' ) for pool in $ctrl.pools.replicated
                  track by pool.id"
                    name="pool"
                    required>
              <option class="tc_rbdPoolOption"
                      value=""
                      ng-bind="$ctrl.waitingPoolMsg"></option>
            </select>
            <div ng-show="$ctrl.data.pool && !$ctrl.data.useDataPool"
                 class="progress-bar-outer clearfix">
              <uib-progressbar max="100"
                               class="progress-striped"
                               value="$ctrl.data.pool.percent_used">
                <span></span>
              </uib-progressbar>
              <span class="pull-left tc_poolSize">
                {{$ctrl.data.pool.num_bytes | bytes}} of {{$ctrl.data.pool.max_avail | bytes}} used
              </span>
              <span class="pull-right tc_poolAvailableSize">
                {{$ctrl.data.pool.oaFreeText}} free -
                <a ng-click="$ctrl.useMaxSize($ctrl.data.pool)">use max</a>
              </span>
            </div>
            <span class="help-block tc_poolRequired"
                  ng-show="(rbdForm.$submitted || rbdForm.pool.$dirty)
                && rbdForm.pool.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_poolLoading"
                  ng-show="rbdForm.$error.poolLoading">
              Couldn't load any pool, please contact your administrator for details.
            </span>
          </div>
        </div>

        <div class="form-group"
             ng-if="$ctrl.data.useDataPool"
             ng-class="{'has-error': (rbdForm.$submitted ||
            rbdForm.dataPool.$dirty) && rbdForm.dataPool.$invalid}">
          <label class="control-label col-sm-3"
                 for="dataPool">
            <span tooltip-placement="top"
                  uib-tooltip="Dedicated pool that stores the object-data of the RBD">
              Data-Pool
            </span>
          </label>
          <div class="col-sm-9">
            <select id="dataPool"
                    ng-disabled="!$ctrl.data.pool"
                    class="form-control"
                    name="dataPool"
                    ng-model="$ctrl.data.dataPool"
                    ng-options="(pool.name + ' (' + pool.oaFreeText + ' free)' ) group by pool.type
                  for pool in $ctrl.getDataPools() track by pool.id"
                    required>
              <option class="tc_rbdPoolOption"
                      value=""
                      ng-bind="$ctrl.waitingPoolMsg"></option>
            </select>
            <div ng-show="$ctrl.data.dataPool"
                 class="progress-bar-outer clearfix">
              <uib-progressbar max="100"
                               class="progress-striped"
                               value="$ctrl.data.dataPool.percent_used">
                <span></span>
              </uib-progressbar>
              <span class="pull-left tc-data-pool-size">
                {{$ctrl.data.dataPool.num_bytes | bytes}} of {{$ctrl.data.dataPool.max_avail | bytes}} used
              </span>
              <span class="pull-right tc-data-pool-available-size">
                {{$ctrl.data.dataPool.oaFreeText}} free -
                <a ng-click="$ctrl.useMaxSize($ctrl.data.dataPool)">use max</a>
              </span>
            </div>
            <span class="help-block tc-data-pool-required"
                  ng-show="(rbdForm.$submitted || rbdForm.dataPool.$dirty)
                && rbdForm.dataPool.$error.required">
              This field is required!
            </span>
            <span class="help-block tc-data-pool-loading"
                  ng-show="rbdForm.$error.dataPoolLoading">
              Couldn't load any pool, please contact your administrator for details.
            </span>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': (rbdForm.$submitted || rbdForm.size.$dirty)
            && rbdForm.size.$invalid}">
          <label class="control-label col-sm-3"
                 for="size">Size</label>
          <div class="col-sm-9">
            <input id="size"
                   class="form-control tc_rbd_size"
                   type="text"
                   name="size"
                   ng-disabled="$ctrl.data.pool == null"
                   ng-change="$ctrl.watchDataSize()"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-model="$ctrl.data.size"
                   placeholder="e.g., 10GB"
                   required>
            <span class="help-block tc_sizeRequired"
                  ng-show="(rbdForm.$submitted || rbdForm.size.$dirty)
                && rbdForm.size.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_sizeIncrease"
                  ng-show="!$ctrl.data.features.stripingv2.checked &&
                    (rbdForm.$submitted || rbdForm.size.$dirty) &&
                    rbdForm.size.$invalid">
              You have to increase the size in order to have at least 1 object in your RBD.
            </span>
            <span class="help-block tc_sizeIncreaseStriping"
                  ng-show="$ctrl.data.features.stripingv2.checked &&
                    (rbdForm.$submitted || rbdForm.size.$dirty) &&
                    rbdForm.size.$invalid">
              You have to increase the size in order to use striping.
            </span>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': (rbdForm.$submitted || rbdForm.obj_size.$dirty) && rbdForm.obj_size.$invalid,
              'has-warning': rbdForm.obj_size.$untouched && $ctrl.changedField === 'obj_size'}">
          <label class="control-label col-sm-3"
                 for="obj_size">Object size</label>
          <div class="col-sm-9">
            <input id="obj_size"
                   class="form-control tc_rbd_obj_size"
                   type="text"
                   name="obj_size"
                   ng-disabled="$ctrl.data.pool == null"
                   ng-change="$ctrl.updateObjSize()"
                   ng-model-options="{ updateOn: 'blur' }"
                   ng-keyup="$ctrl.sizeChange($event, $ctrl.updateObjSize)"
                   ng-model="$ctrl.data.obj_size"
                   placeholder="4 KiB up to 32 MiB"
                   required>
            <span class="help-block tc_objSizeRequired"
                  ng-show="(rbdForm.$submitted || rbdForm.size.$dirty)
                && rbdForm.size.$error.required">
              This field is required!
            </span>
            <span class="help-block tc-objSize-changed"
                  ng-show="rbdForm.obj_size.$untouched && $ctrl.changedField === 'obj_size'">
              This field was increased with your stripe unit change.
            </span>
          </div>
        </div>
        <div class="form-group tc_features"
             ng-class="{'has-error': rbdForm.$error.noFeatureSelected}">
          <label class="col-sm-3 control-label"
                 for="features">
            Features
            <oa-helper helper-data="$ctrl.features"
                       helper-template="'components/ceph-rbd/ceph-rbd-form/ceph-rbd-form-helper-features.html'">
            </oa-helper>
          </label>
          <input id="features"
                 type="hidden"
                 ng-model="$ctrl.data.features"
                 required>
          <div class="col-sm-9">
            <div class="checkbox checkbox-primary">
              <input type="checkbox"
                     ng-model="$ctrl.data.defaultFeatures"
                     ng-change="$ctrl.watchDataFeatures()"
                     id="default-features"
                     name="default-features"
                     ng-disabled="$ctrl.data.pool == null">
              <label for="default-features">Use default features</label>
            </div>
            <div uib-collapse="$ctrl.data.defaultFeatures">
              <br>
              <div class="checkbox checkbox-primary"
                   ng-repeat="(key, feature) in $ctrl.features"
                   ng-if="feature.isDisplayed">
                <input type="checkbox"
                       ng-model="$ctrl.data.features[key].checked"
                       id="{{key}}"
                       ng-disabled="$ctrl.data.features[key].disabled"
                       ng-change="$ctrl.watchDataFeatures(key)"
                       class="tc_feature_{{key}}"
                       ng-name="key">
                <label ng-bind="feature.desc"
                       for="{{key}}"></label>
                <oa-helper ng-if="feature.helperTemplate"
                           helper-template="feature.helperTemplate">
                </oa-helper>
              </div>
              <span class="help-block tc_noFeature"
                    ng-show="rbdForm.$error.noFeatureSelected">At least one feature has to be selected</span>
            </div>
          </div>
        </div>
        <div ng-if="$ctrl.data.features.stripingv2.checked">
          <h2 class="page-header">Striping</h2>
          <div class="form-group"
               ng-class="{'has-error': (rbdForm.$submitted || rbdForm.stripingUnit.$dirty) && rbdForm.stripingUnit.$invalid,
                'has-warning': rbdForm.stripingUnit.$untouched && $ctrl.changedField === 'stripingUnit'}">
            <label class="control-label col-sm-4"
                   for="stripingUnit">
              Striping unit
            </label>
            <div class="col-sm-8">
              <input id="stripingUnit"
                     class="form-control tc-stripingUnit"
                     type="text"
                     name="stripingUnit"
                     ng-init="$ctrl.updateStripingUnit($ctrl.rbd.obj_size)"
                     ng-disabled="$ctrl.data.pool == null"
                     ng-change="$ctrl.updateStripingUnit()"
                     ng-model-options="{ updateOn: 'blur' }"
                     ng-keyup="$ctrl.sizeChange($event, $ctrl.updateStripingUnit)"
                     ng-model="$ctrl.data.striping.unitDisplayed"
                     placeholder="4 KiB up to 32 MiB"
                     required>
              <span class="help-block tc-stripingUnit-required"
                    ng-show="(rbdForm.$submitted || rbdForm.stripingUnit.$dirty) && rbdForm.stripingUnit.$error.required">
                This field is required!
              </span>
              <span class="help-block tc-stripingUnit-changed"
                    ng-show="rbdForm.stripingUnit.$untouched && $ctrl.changedField === 'stripingUnit'">
                This field was decreased with your object size change.
              </span>
            </div>
          </div>
          <div class="form-group"
               ng-class="{'has-error': (rbdForm.$submitted || rbdForm.stripingCount.$dirty) &&
                  rbdForm.stripingCount.$invalid}">
            <label class="control-label col-sm-4"
                   for="stripingCount">
              Striping count
            </label>
            <div class="col-sm-8">
              <input id="stripingCount"
                     class="form-control tc-stripingCount"
                     type="number"
                     name="stripingCount"
                     min="2"
                     ng-disabled="$ctrl.data.pool == null"
                     ng-model-options="{ updateOn: 'blur' }"
                     ng-model="$ctrl.data.striping.count"
                     required>
              <span class="help-block tc-stripingCount-required"
                    ng-show="(rbdForm.$submitted || rbdForm.stripingCount.$dirty) && rbdForm.stripingCount.$error.required">
                This field is required!
              </span>
              <span class="help-block tc-stripingCount-min"
                    ng-show="rbdForm.stripingCount.$invalid">
                The striping count has to be a value higher than 1.
              </span>
            </div>
          </div>
          <div class="form-group"
               ng-show="rbdForm.obj_size.$valid && rbdForm.stripingUnit.$valid && rbdForm.stripingCount.$valid">
            <span class="help-block tc-striping-help col-sm-offset-4 col-sm-8"
                  ng-bind-html="$ctrl.stripingDescription()">
            </span>
            <span class="help-block tc-striping-preview col-sm-offset-4 col-sm-8"
                  ng-if="$ctrl.stripingDescription()">
              <a ng-click="$ctrl.previewStriping()"
                 class="tc_stripingPreview">Striping Preview</a>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="button-group text-right">
          <oa-submit-button form="rbdForm"
                            on-submit="$ctrl.submitAction(rbdForm)">
            Create
          </oa-submit-button>
          <button type="button"
                  class="btn btn-sm btn-default tc_backButton"
                  ng-click="$ctrl.cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
