<div class="col-sm-12 col-lg-6">
  <oa-loading-panel message="Form is loading..."
                    ng-show="!$ctrl.clusters && !$ctrl.error">
  </oa-loading-panel>
  <oa-error-panel on-back="$ctrl.cancelAction()"
                  ng-if="$ctrl.error">
    Failed to load the form data.
  </oa-error-panel>

  <form name="poolForm"
        role="form"
        class="form-horizontal"
        ng-show="$ctrl.clusters && !$ctrl.error"
        novalidate
        oa-check-form>
    <div class="panel panel-default">
      <div class="panel-heading tc_formHeadline">
        <h3 class="panel-title">
          {{$ctrl.editing ? 'Edit' : 'Create'}} Ceph pool: {{$ctrl.pool.name}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group"
             ng-class="{'has-error': (poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$invalid}">
          <label class="control-label col-sm-3"
                 for="poolName">
            Name
          </label>
          <div class="col-sm-9">
            <input id="poolName"
                   name="name"
                   type="text"
                   class="form-control tc_pool_name"
                   placeholder="Name..."
                   ng-disabled="$ctrl.editing"
                   ng-model="$ctrl.pool.name"
                   uniquename="ceph-pool"
                   validname
                   ng-required="!$ctrl.editing"
                   autofocus>
            <span class="help-block tc_nameRequired"
                  ng-show="(poolForm.$submitted || poolForm.name.$dirty) && poolForm.name.$error.required">
              This field is required!
            </span>
            <span class="help-block tc_noValidName"
                  ng-show="poolForm.name.$error.validname">
              {{$ctrl.errortext}}
            </span>
            <span class="help-block tc_noUniqueName"
                  ng-show="poolForm.name.$error.uniquename">
              The chosen Ceph pool name is already in use.
            </span>
          </div>
        </div>

        <div ng-if="$ctrl.clusters.length || $ctrl.editing">
          <div class="form-group"
               ng-class="{'has-error': (poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$invalid}"
               ng-if="$ctrl.clusters.length !== 1 && !$ctrl.editing">
            <label class="control-label col-sm-3"
                   for="cluster">
              Cluster
            </label>
            <div class="col-sm-9">
              <select class="form-control tc_cluster_selection"
                      id="cluster"
                      name="cluster"
                      ng-disabled="!$ctrl.clusters"
                      ng-model="$ctrl.data.cluster"
                      ng-options="(cluster.name + ' (' + cluster.fsid + ')')
                                  for cluster in $ctrl.clusters track by cluster.fsid"
                      ng-required="!$ctrl.editing">
                <option class="tc_clusterOption"
                        value="">
                  -- Select a cluster --
                </option>
              </select>
              <span class="help-block tc_clusterRequired"
                    ng-show="(poolForm.$submitted || poolForm.cluster.$dirty) && poolForm.cluster.$error.required">
                This field is required!
              </span>
              <span class="help-block tc_clusterLoading"
                    ng-show="poolForm.$error.clusterLoading">
                Couldn't load any cluster, please contact your administrator for details.
              </span>
            </div>
          </div>

          <div class="form-group"
               ng-class="{'has-error': (poolForm.$submitted || poolForm.poolTypes.$dirty) &&
                         poolForm.poolTypes.$invalid}">
            <label class="control-label col-sm-3"
                   for="poolTypes">
              Pool type
            </label>
            <div class="col-sm-9">
              <select class="form-control tc_poolTypes_selection"
                      id="poolTypes"
                      name="poolTypes"
                      ng-change="$ctrl.rulesetChange()"
                      ng-model="$ctrl.pool.type"
                      ng-options="poolType.name as poolType.description for poolType in $ctrl.data.poolTypes"
                      ng-disabled="$ctrl.editing"
                      ng-required="!$ctrl.editing">
                <option class="tc_poolTypesOption"
                        value="">
                  -- Select a pool type --
                </option>
              </select>
              <span class="help-block tc_typeRequired"
                    ng-show="(poolForm.$submitted || poolForm.poolTypes.$dirty) && poolForm.poolTypes.$error.required">
                This field is required!
              </span>
            </div>
          </div>

          <div ng-show="$ctrl.editing || $ctrl.pool.type && $ctrl.data.cluster.loaded">
            <div class="form-group"
                 ng-class="{'has-error': (poolForm.$submitted || poolForm.crushSet.$dirty) &&
                           poolForm.crushSet.$invalid}"
                 ng-if="$ctrl.data.cluster.rules[$ctrl.pool.type].length > 0">
              <label class="control-label col-sm-3"
                     for="crushSet">
                Crush ruleset
              </label>
              <div class="col-sm-9">
                <select class="form-control tc_crushSet_selection"
                        id="crushSet"
                        name="crushSet"
                        ng-change="$ctrl.rulesetChange()"
                        ng-disabled="$ctrl.editing || $ctrl.data.cluster.rules[$ctrl.pool.type].length === 1"
                        ng-model="$ctrl.data.ruleset"
                        ng-options="rule.rule_name for rule in $ctrl.data.cluster.rules[$ctrl.pool.type]"
                        ng-required="!$ctrl.editing && $ctrl.data.cluster.rules[$ctrl.pool.type].length > 0">
                  <option class="tc_crushSetOption"
                          value="">
                    -- Select a crush ruleset --
                  </option>
                </select>
                <span class="help-block tc_crushSetRequired"
                      ng-show="(poolForm.$submitted || poolForm.crushSet.$dirty) && poolForm.crushSet.$error.required">
                  This field is required!
                </span>
                <span class="help-block"
                      ng-show="$ctrl.data.ruleset">
                  <ul class="list-inline">
                    <li ng-show="$ctrl.crushSize.show">
                      <a ng-click="$ctrl.crushSize.open = !$ctrl.crushSize.open">Size</a>
                      <div uib-collapse="!$ctrl.crushSize.open"
                           expanding="$ctrl.crushSteps.show = !$ctrl.crushSteps.show"
                           collapsed="$ctrl.crushSteps.show = !$ctrl.crushSteps.show">
                        <ul class="list-unstyled">
                          <li>Minimum size: {{data.ruleset.min_size}}</li>
                          <li>Maximum size: {{data.ruleset.max_size}}</li>
                        </ul>
                      </div>
                    </li>
                    <li ng-show="$ctrl.crushSteps.show">
                      <a ng-click="$ctrl.crushSteps.open = !$ctrl.crushSteps.open">Steps</a>
                      <div uib-collapse="!$ctrl.crushSteps.open"
                           expanding="$ctrl.crushSize.show = !$ctrl.crushSize.show"
                           collapsed="$ctrl.crushSize.show = !$ctrl.crushSize.show">
                        <ol>
                          <li ng-bind="$ctrl.describeStep(step)"
                              ng-repeat="step in $ctrl.data.ruleset.steps"></li>
                        </ol>
                      </div>
                    </li>
                  </ul>
                </span>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': (poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$invalid}"
                 ng-if="$ctrl.pool.type === 'replicated'">
              <label class="control-label col-sm-3"
                     for="size">
                Replicated size
              </label>
              <div class="col-sm-9">
                <input class="form-control tc_pool_size"
                       id="size"
                       max="{{$ctrl.editing ? $ctrl.pool.size : $ctrl.getMaxSize()}}"
                       min="{{$ctrl.editing ? $ctrl.pool.size : $ctrl.data.ruleset.min_size || 1}}"
                       name="size"
                       type="number"
                       ng-change="$ctrl.onSizeChange()"
                       ng-disabled="$ctrl.editing"
                       ng-model="$ctrl.pool.size"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-required="!$ctrl.editing">
                <span class="help-block tc_sizeRequired"
                      ng-show="(poolForm.$submitted || poolForm.size.$dirty) && poolForm.size.$error.required">
                  This field is required!
                </span>
                <span class="help-block tc-applied-rule-set"
                      ng-hide="$ctrl.editing || poolForm.size.$invalid">
                  <ul class="list-inline">
                    <li>Minimum: {{$ctrl.data.ruleset.min_size || 1}}</li>
                    <li>Maximum: {{$ctrl.getMaxSize()}}</li>
                  </ul>
                </span>
                <span class="help-block tc-size-out-of-range"
                      ng-show="!$ctrl.editing && poolForm.size.$invalid">
                  The size specified is out of range.
                  A value from {{$ctrl.data.ruleset.min_size || 1}} to {{$ctrl.getMaxSize()}} is valid.
                </span>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': (poolForm.$submitted || poolForm.erasureProfiles.$dirty) &&
                            poolForm.erasureProfiles.$invalid}"
                 ng-if="$ctrl.pool.type === 'erasure'">
              <label class="control-label col-sm-3"
                     for="erasureProfiles">
                Erasure code profile
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="form-control tc_erasureProfiles_selection"
                          id="erasureProfiles"
                          name="erasureProfiles"
                          ng-change="$ctrl.ecProfileChange(); $ctrl.pgSizeChange()"
                          ng-model="$ctrl.pool.erasure.profile"
                          ng-disabled="$ctrl.editing || $ctrl.data.profiles.length === 1"
                          ng-options="profile as profile.name for profile in $ctrl.data.profiles"
                          ng-required="!$ctrl.editing && $ctrl.pool.type === 'erasure'">
                    <option class="tc_erasureProfilesOption"
                            value="">
                      -- Select an erasure code profile --
                    </option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-default"
                            type="button"
                            ng-disabled="$ctrl.editing"
                            ng-click="$ctrl.addErasureCodeProfile()">
                      <i class="fa fa-plus"
                         aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-default"
                            type="button"
                            ng-click="$ctrl.deleteErasureCodeProfile()"
                            ng-disabled="$ctrl.editing || $ctrl.data.profiles.length < 1">
                      <i class="fa fa-trash-o"
                         aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <span class="help-block tc_erasureRequired"
                      ng-show="(poolForm.$submitted || poolForm.erasureProfiles.$dirty) &&
                               poolForm.erasureProfiles.$error.required">
                  This field is required!
                </span>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': (poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$invalid}">
              <label class="control-label col-sm-3"
                     for="pgNum">
                Placement groups
              </label>
              <div class="col-sm-9">
                <input class="form-control tc_pool_pgNum"
                       id="pgNum"
                       placeholder="{{$ctrl.pool.pg_num}}"
                       min="{{$ctrl.pool.pg_num}}"
                       name="pgNum"
                       type="number"
                       ng-keyup="$ctrl.pgKeyChange($event)"
                       ng-model="$ctrl.data.pg_num"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-change="$ctrl.pgUpdate()"
                       required>
                <span class="help-block tc_pgNumDecreaseInvalid"
                      ng-show="$ctrl.editing">
                  The pg size of a pool can only be increased in edit mode.
                </span>
                <span class="help-block tc_pgNumRequired"
                      ng-show="(poolForm.$submitted || poolForm.pgNum.$dirty) && poolForm.pgNum.$error.required">
                  This field is required!
                </span>
                <span class="help-block">
                  <a target="_blank"
                     href="http://ceph.com/pgcalc">Calculation help</a>
                </span>
              </div>
            </div>

            <div class="form-group"
                 ng-if="$ctrl.bluestore && $ctrl.pool.type === 'erasure'">
              <label class="control-label col-sm-3">
                Flags
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="checkbox checkbox-primary">
                    <input id="ec-overwrites"
                           type="checkbox"
                           ng-disabled="$ctrl.editing"
                           ng-model="$ctrl.data.flags.ec_overwrites"
                           ng-name="ec-overwrites">
                    <label for="ec-overwrites"
                           class="tc-ec-overwrites">
                      EC Overwrite
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Compression -->
            <div ng-if="$ctrl.bluestore">
              <legend>Compression</legend>
              <div class="form-group"
                   ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMode.$dirty) &&
                              poolForm.compressionMode.$invalid}">
                <label class="control-label col-sm-3"
                       for="compressionMode">
                  Mode
                </label>
                <div class="col-sm-9">
                  <select class="form-control tc_compressionMode"
                          id="compressionMode"
                          name="compressionMode"
                          ng-disabled="$ctrl.editing"
                          ng-model="$ctrl.pool.compression_mode"
                          ng-options="compressionMode.name as compressionMode.description
                                      for compressionMode in $ctrl.data.compressionModes"
                          ng-required="!$ctrl.editing">
                    <option class="tc_compressionModeOption"
                            value="">
                      -- Select a compression mode --
                    </option>
                  </select>
                  <span class="help-block tc_compressionModeRequired"
                        ng-show="(poolForm.$submitted || poolForm.compressionMode.$dirty) &&
                                 poolForm.compressionMode.$error.required">
                    This field is required!
                  </span>
                </div>
              </div>
              <div ng-show="$ctrl.pool.compression_mode && $ctrl.pool.compression_mode !== 'none'">
                <div class="form-group"
                     ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionAlgorithm.$dirty)
                                && poolForm.compressionAlgorithm.$invalid}">
                  <label class="control-label col-sm-3"
                         for="compressionAlgorithm">
                    Algorithm
                  </label>
                  <div class="col-sm-9">
                    <select class="form-control tc_compressionAlgorithmSelection"
                            id="compressionAlgorithm"
                            name="compressionAlgorithm"
                            ng-disabled="$ctrl.editing"
                            ng-model="$ctrl.pool.compression_algorithm"
                            ng-options="compressionAlgorithm.name as compressionAlgorithm.description
                                        for compressionAlgorithm in $ctrl.data.compressionAlgorithms"
                            ng-required="!$ctrl.editing && $ctrl.pool.compression_mode &&
                                         $ctrl.pool.compression_mode !== 'none'">
                      <option class="tc_compressionAlgorithmOption"
                              value="">
                        -- Select a compression algorithm --
                      </option>
                    </select>
                    <span class="help-block tc_compressionAlgorithmRequired"
                          ng-show="(poolForm.$submitted || poolForm.compressionAlgorithm.$dirty) &&
                                   poolForm.compressionAlgorithm.$error.required">
                      This field is required!
                    </span>
                  </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMinBlobSize.$dirty) &&
                                poolForm.compressionMinBlobSize.$invalid}">
                  <label class="control-label col-sm-3"
                         for="compressionMinBlobSize">
                    Minimum blob size
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionMinBlobSize"
                           name="compressionMinBlobSize"
                           type="text"
                           min="0"
                           ng-model-options="{ updateOn: 'blur' }"
                           class="form-control tc_compressionMinBlobSize"
                           placeholder="e.g., 128K"
                           ng-disabled="$ctrl.editing"
                           ng-model="$ctrl.data.compression_min_blob_size"
                           ng-change="$ctrl.updateCompressionMinBlobSize()"
                           ng-required="!$ctrl.editing && $ctrl.pool.compression_mode &&
                                        $ctrl.pool.compression_mode !== 'none'">
                    <span class="help-block tc_compressionMinBlobSizeRequired"
                          ng-show="(poolForm.$submitted || poolForm.compressionMinBlobSize.$dirty) &&
                                   poolForm.compressionMinBlobSize.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionMinBlobSizeMin"
                          ng-show="poolForm.compressionMinBlobSize.$error.min">
                      Value should be greater or equal to 0
                    </span>
                  </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionMaxBlobSize.$dirty) &&
                                poolForm.compressionMaxBlobSize.$invalid}">
                  <label class="control-label col-sm-3"
                         for="compressionMaxBlobSize">
                    Maximum blob size
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionMaxBlobSize"
                           type="text"
                           min="0"
                           class="form-control tc_compressionMaxBlobSize"
                           placeholder="e.g., 512K"
                           name="compressionMaxBlobSize"
                           ng-disabled="$ctrl.editing"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-model="$ctrl.data.compression_max_blob_size"
                           ng-change="$ctrl.updateCompressionMaxBlobSize()"
                           ng-required="!$ctrl.editing && $ctrl.pool.compression_mode &&
                                        $ctrl.pool.compression_mode !== 'none'">
                    <span class="help-block tc_compressionMaxBlobSizeRequired"
                          ng-show="(poolForm.$submitted || poolForm.compressionMaxBlobSize.$dirty) &&
                                   poolForm.compressionMaxBlobSize.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionMaxBlobSizeMin"
                          ng-show="poolForm.compressionMaxBlobSize.$error.min">
                      Value should be greater or equal to 0
                    </span>
                  </div>
                </div>
                <div class="form-group"
                     ng-class="{'has-error': (poolForm.$submitted || poolForm.compressionRequiredRatio.$dirty) &&
                                poolForm.compressionRequiredRatio.$invalid}">
                  <label class="control-label col-sm-3"
                         for="compressionRequiredRatio">
                    Required ratio
                  </label>
                  <div class="col-sm-9">
                    <input id="compressionRequiredRatio"
                           name="compressionRequiredRatio"
                           type="number"
                           min="0"
                           max="1"
                           step="0.1"
                           class="form-control tc_compressionRequiredRatio"
                           placeholder="Compression required ratio..."
                           ng-disabled="$ctrl.editing"
                           ng-required="!$ctrl.editing"
                           ng-model="$ctrl.pool.compression_required_ratio">
                    <span class="help-block tc_ccompressionRequiredRatioRequired"
                          ng-show="(poolForm.$submitted || poolForm.compressionRequiredRatio.$dirty) &&
                                   poolForm.compressionRequiredRatio.$error.required">
                      This field is required!
                    </span>
                    <span class="help-block tc_compressionRequiredRatioMinMax"
                          ng-show="poolForm.compressionRequiredRatio.$error.min ||
                                   poolForm.compressionRequiredRatio.$error.max">
                      Value should be between 0.0 and 1.0
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Compression end-->

            <!-- Applications -->
            <legend>Applications</legend>
            <div class="form-group">
              <label class="col-sm-3 control-label"
                     for="appSelection">
                Add applications
              </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="form-control tc-app-selection"
                          id="AppSelection"
                          name="appSelection"
                          ng-model="$ctrl.app.selection"
                          ng-change="$ctrl.apps.getAvail()"
                          ng-options="appName for appName in $ctrl.apps.getAvail()">
                    <option class="tc_appOption"
                            value="">
                      - Select an application to use -
                    </option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-default tc-add-app"
                            type="button"
                            uib-tooltip="Add application"
                            ng-disabled="!$ctrl.app.selection || $ctrl.apps.used.length > 3"
                            ng-click="$ctrl.app.add($ctrl.app.selection)">
                      <i class="fa fa-plus"
                         aria-hidden="true"></i>
                    </button>
                  </span>
                </div>
                <span class="help-block tc-max-apps"
                      ng-show="$ctrl.apps.used.length > 3">
                  You can use up to four application per pool.
                </span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': (poolForm.$submitted || poolForm.apps.$dirty) && poolForm.apps.$invalid}">
              <label class="col-sm-3 control-label"
                     for="apps">
                Applications
              </label>
              <div class="col-sm-9">
                <span ng-repeat="appName in $ctrl.apps.used track by $index">
                  <div class="input-group"
                       ng-class="{'has-error': $first && poolForm.customApp && !poolForm.customApp.$valid}">
                    <input type="text"
                           class="form-control tc-used-app"
                           name="{{appName ? appName : 'customApp'}}"
                           maxlength="128"
                           ng-model="appName"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="$ctrl.app.add(appName)"
                           ng-value="appName"
                           pattern="[A-Za-z0-9_]+"
                           ng-readonly="appName !== undefined && appName !== ''">
                    <span class="input-group-btn">
                      <button class="btn btn-default tc-delete-app"
                              type="button"
                              uib-tooltip="Remove application"
                              ng-click="$ctrl.app.removeByIndex($index)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </span>
                  </div>
                  <span class="help-block"
                        ng-show="$first && poolForm.customApp && !poolForm.customApp.$valid">
                    The following characters are valid: _ a-z A-Z 0-9
                  </span>
                  <br>
                </span>
                <span ng-hide="$ctrl.apps.used.length !== 0"
                      class="form-control no-border text-muted">
                  No application added
                  <input type="text"
                         class="no-border"
                         ng-model="$ctrl.apps.used[0]"
                         name="apps"
                         id="apps"
                         ng-if="$ctrl.apps.used.length === 0"
                         required
                         readonly>
                </span>
                <span class="help-block"
                      ng-show="poolForm.$submitted || poolForm.apps.$dirty">
                  <span class="tc_appsRequired"
                        ng-show="poolForm.apps.$error.required">Required field</span>
                </span>
              </div>
            </div>
            <!-- Applications end-->

          </div>
        </div>
        <div class="text-center"
             ng-if="(!$ctrl.clusters.length || $ctrl.cluster.length === 1 && !$ctrl.data.cluster.loaded)">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>
      </div>

      <div class="panel-footer">
        <div class="button-group text-right">
            <oa-submit-button form="poolForm"
                              on-submit="$ctrl.submitAction()">
            {{ !$ctrl.editing ? 'Create' : 'Update' }}
          </oa-submit-button>
          <button class="btn btn-sm btn-default tc_backButton"
                  type="button"
                  ng-click="$ctrl.cancelAction()">
            Back
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
