<oa-ceph-cluster-loader on-cluster-load="$ctrl.onClusterLoad(cluster)">
  <oa-module-loader module="ceph_nfs">

    <oa-loading-panel message="NFS shares are loading..."
                      ng-show="!$ctrl.error && !$ctrl.nfs.$resolved">
    </oa-loading-panel>
    <oa-error-panel title="Couldn't load NFS shares"
                    ng-if="$ctrl.error">
      NFS shares could not be loaded. Make sure that the ceph module is installed.
    </oa-error-panel>

    <span ng-show="!$ctrl.error && $ctrl.nfs.results">

      <oadatatable data="$ctrl.nfs"
                   class="oadatatable tc_cephNfsTable"
                   filter-config="$ctrl.filterConfig"
                   selection="$ctrl.selection"
                   special="$ctrl">
        <actions>
          <a class="btn btn-sm btn-primary tc_add_btn"
             type="button"
             ng-click="$ctrl.addAction()"
             ng-hide="$ctrl.hasSelection || $ctrl.multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
          </a>
          <a class="btn btn-sm btn-primary tc_edit_btn"
             type="button"
             ng-click="$ctrl.editAction()"
             ng-show="$ctrl.hasSelection">
            <i class="fa fa-fw fa-pencil"></i>Edit
          </a>
          <a class="btn btn-sm btn-primary tc_delete_btn"
             type="button"
             ng-click="$ctrl.deleteAction()"
             ng-show="$ctrl.multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
          </a>
          <li>
            <a ng-click="$ctrl.addAction()">
              <i class="fa fa-fw fa-plus"></i>Add
            </a>
          </li>
          <li class="tc_cloneItem"
              ng-click="$ctrl.cloneAction()"
              ng-class="{disabled: !$ctrl.hasSelection}">
            <a>
              <i class="fa fa-fw fa-clone"></i>Copy
            </a>
          </li>
          <li class="tc_deleteItem"
              ng-click="$ctrl.deleteAction()"
              ng-class="{disabled: !$ctrl.hasSelection && !$ctrl.multiSelection}">
            <a>
              <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
          </li>
        </actions>
        <additional-actions>
          <div class="separator"></div>
          <button class="btn btn-sm btn-default btn-label tc_manageService"
                  type="button"
                  ng-click="$ctrl.stateAction()">
            <i class="fa fa-fw fa-cog"
               aria-hidden="true"></i>Manage service
          </button>
        </additional-actions>
        <table class="table table-striped table-bordered table-hover dataTable datatable">
          <thead>
            <tr>
              <th class="oadatatablecheckbox"
                  ng-if="selection.available">
                <input type="checkbox"
                       ng-model="selection.checkAll">
              </th>
              <th ng-show="columns['Export']"
                  sortfield="path"
                  sortdir="asc"
                  sortheaderclass
                  sortdefault>Export</th>
              <th ng-show="columns['Host']"
                  sortfield="host">Host</th>
              <th ng-show="columns['State']"
                  sortfield="state">State</th>
              <th ng-show="columns['Storage Backend']"
                  sortfield="fsal"
                  sortheaderclass>Storage Backend</th>
              <th ng-show="columns['Access Type']"
                  sortfield="permission"
                  sortheaderclass>Access Type</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in data.results"
                ng-class="{ info: isRowSelected(row) }"
                class="clickable"
                ng-click="toggleSelection(row, $event)">
              <td ng-if="selection.available">
                <input type="checkbox"
                       checklist-model="selection.items"
                       checklist-value="row">
              </td>
              <td ng-show="columns['Export']">
                <a ui-sref="cephNfs-edit({
                        fsid: special.registry.selectedCluster.fsid,
                        host: row.host,
                        exportId: row.exportId
                      })"
                   ng-bind="row.path"></a>
              </td>
              <td ng-show="columns['Host']"
                  ng-bind="row.host"></td>
              <td ng-show="columns['State']">
                <span ng-bind-html="row.state | cephNfsState"></span>
              </td>
              <td ng-show="columns['Storage Backend']"
                  ng-bind="special.getFsalDesc(row.fsal)"></td>
              <td ng-show="columns['Access Type']"
                  ng-bind="row.accessType"></td>
            </tr>
          </tbody>
        </table>
      </oadatatable>
    </span>

    <div id="more"
         ui-view="tab"
         tab-data="$ctrl.tabData"
         tab-config="$ctrl.tabConfig"
         selection="$ctrl.selection">
    </div>

  </oa-module-loader>
</oa-ceph-cluster-loader>
